In [2]:
import pandas as pd
import numpy as np
import os

# Broken Promises Count DB

In [15]:
# %% [markdown]
# # Load and prepare data (unchanged)

# %%
import pandas as pd
promises = pd.read_csv("../data/LIWC-22 Results - sxp1500_presentations_ceo_aggr___ - LIWC Analysis_v11_horizon_v2_specificity.csv")
# create promise_id column, it is gvkey_transcriptid_2digitnumber (01, 02, 03, ...)
promises['promise_id'] = promises.groupby(['gvkey', 'transcriptid']).cumcount() + 1
promises['promise_id'] = promises['gvkey'].astype(str) + '_' + promises['transcriptid'].astype(str) + '_' + promises['promise_id'].apply(lambda x: f'{x:02d}')
promises_select = promises[['gvkey', 'mostimportantdateutc', 'companyname', 'exec_fullname', 'execid', 'promise_id','1-promise-verbatim' ,'2-promise-explain' ,'3-promise-horizon-v2', 'specificity_score']].sort_values(by=['gvkey', 'mostimportantdateutc',])

labels = pd.read_csv("promises_with_keywords_v5_labels.csv")
def revert_promise_id(promise_id):
    parts = promise_id.split('_')
    fixed_parts = []
    for part in parts:
        if part.endswith('.0'):
            part = str(int(float(part)))
        fixed_parts.append(part)
    return '_'.join(fixed_parts)

labels['promise_id'] = labels['promise_id'].apply(revert_promise_id)

labels = labels[['promise_id', 'primary_keyword']]

# merge promises and labels on promise_id
promises_select = pd.merge(labels, promises_select, on=['promise_id'], how='left')

# %%
promises_select.head(5)

/var/folders/qr/1pq07r555gxgt22gqksl2tlw0000gn/T/ipykernel_7562/2245440812.py:6: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  promises = pd.read_csv("../data/LIWC-22 Results - sxp1500_presentations_ceo_aggr___ - LIWC Analysis_v11_horizon_v2_specificity.csv")

,promise_id,primary_keyword,gvkey,mostimportantdateutc,companyname,exec_fullname,execid,1-promise-verbatim,2-promise-explain,3-promise-horizon-v2,specificity_score
0,10353_45212_05,Shareholder and Stakeholder Trust and Engagement,10353,2010-01-06,"Team, Inc.",Phillip J. Hawk,49854,We have always been and continue to be fully c...,The CEO asserts a continuous commitment to eth...,unclear,1.0
1,11600_45248_01,Risk Management,11600,2010-01-06,"Worthington Industries, Inc.",John P. McConnell,3497,But I assure you we will remain vigilant in se...,The CEO is committing that the company will ma...,unclear,1.0
2,25338_45259_01,Experience Enhancement,25338,2010-01-06,Bed Bath & Beyond Inc.,Steven H. Temares,13517,We always look for ways to enhance our custome...,The CEO is affirming a long‐term commitment to...,unclear,1.0
3,25338_45259_02,Investment,25338,2010-01-06,Bed Bath & Beyond Inc.,Steven H. Temares,13517,While we continue to review and prioritize our...,The CEO is committing to allocate necessary ca...,unclear,1.0
4,146017_45297_01,Pricing and Rate Management,146017,2010-01-06,"Acuity Brands, Inc.",Vernon J. Nagel,11057,"However, as I have said before, we will defend...",The CEO is committing the company to actively ...,unclear,1.0

In [16]:
promises_select_10percent_results = pd.read_csv("promises_select_10percent_batch2_results.csv")

In [17]:
# merge with promises_select_10percent on promise_id
promises_select_10percent_results_merged = pd.merge(promises_select_10percent_results, promises_select, on=['promise_id'], how='left')

# %%

promises_select_10percent_results_merged.head()

,promise_id,status_code,delivery,explanation,sources,primary_keyword,gvkey,mostimportantdateutc,companyname,exec_fullname,execid,1-promise-verbatim,2-promise-explain,3-promise-horizon-v2,specificity_score
0,6304_47870_01,UNMEASURABLE,it is tough to define what a promise delivery is,The 2010-01-28 earnings-call statement commits...,['https://www.roic.ai/quote/KLAC%3AUW/transcri...,Business Leverage Strategies,6304,2010-01-28,KLA Corporation,Richard P. Wallace,25626,Driving improved operational leverage remains ...,"In this statement, the CEO commits to converti...",unclear,1.0
1,14824_48607_02,ON_TIME,delivered on time,"Baseline: by Q4 2009, Cincinnati Financial had...",['https://media.corporate-ir.net/media_files/i...,Rollout Initiatives,14824,2010-02-04,Cincinnati Financial Corporation,Kenneth William Stecher,24439,"Last year, our staff successfully accelerated ...",The CEO is committing to maintaining the accel...,10,2.0
2,141384_47695_03,UNMEASURABLE,it is tough to define what a promise delivery is,"The Jan 27, 2010 statement pledges a general c...",['https://www.globenewswire.com/news-release/2...,Customer Relationship Management,141384,2010-01-27,"Align Technology, Inc.",Thomas M. Prescott,36420,We are completely committed helping those doct...,"In this promise, the CEO assures that the comp...",unclear,1.0
3,183324_47928_01,UNMEASURABLE,it is tough to define what a promise delivery is,The 2010-02-02 statement is an open‑ended comm...,['https://pmt.pennymac.com/news-events/press-r...,Acquisitions,183324,2010-02-02,PennyMac Mortgage Investment Trust,Stanford Lee Kurland,9210,We remain fully committed to evaluating and cl...,The CEO is asserting a firm commitment that PM...,unclear,1.0
4,62921_48282_07,ON_TIME,delivered on time,"Promise (Feb 3, 2010) was to hear in 2010 abou...",['https://www.prnewswire.com/news-releases/neu...,Clinical trial progress and milestones,62921,2010-02-03,"Neurocrine Biosciences, Inc.","Kevin C. Gorman, Ph.D.",60255,we're going to hear this year on our lead CRF ...,The CEO promises that there will be an update ...,10,2.0

In [18]:
promises_select_10percent_results_merged.status_code.value_counts()

status_code
UNMEASURABLE     2465
ON_TIME          2187
NO_EVIDENCE       442
DELAYED           396
NOT_DELIVERED     243
Name: count, dtype: int64

In [157]:
# 
df = promises_select_10percent_results_merged.copy()

df['date'] = pd.to_datetime(df['mostimportantdateutc'], errors='coerce')
df['year'] = df['date'].dt.year
df['is_broken'] = df['status_code'].isin(['DELAYED', 'NOT_DELIVERED']).astype(int)

# per exec-year: broken count and total promises
by_year = (df.groupby(['execid', 'year'])
             .agg(broken_count=('is_broken', 'sum'),
                  promises_in_year=('execid', 'size'))
             .reset_index())

# cumulative *prior* years
by_year = by_year.sort_values(['execid', 'year'])
by_year['no_broken_promises'] = (
    by_year.groupby('execid')['broken_count'].cumsum().shift(1, fill_value=0).astype(int)
)
by_year['no_promises_prior'] = (
    by_year.groupby('execid')['promises_in_year'].cumsum().shift(1, fill_value=0).astype(int)
)

# --- Rolling windows over prior calendar years (2, 3, 5) ---
# We compute on a full year grid per execid so missing years contribute 0,
# then merge back to the original rows (execid, year).
roll_list = []
for eid, g in by_year.groupby('execid', sort=False):
    # full calendar grid for this exec
    yr_min, yr_max = int(g['year'].min()), int(g['year'].max())
    idx = pd.RangeIndex(yr_min, yr_max + 1, 1, name='year')

    tmp = (g.set_index('year')[['broken_count', 'promises_in_year']]
             .reindex(idx, fill_value=0))

    # exclude current year using shift(1); window counts previous N years only
    for w in (2, 3, 5):
        tmp[f'no_broken_promises_roll{w}'] = (
            tmp['broken_count'].rolling(window=w, min_periods=1).sum()
            .shift(1, fill_value=0)
        ).astype(int)
        tmp[f'no_promises_prior_roll{w}'] = (
            tmp['promises_in_year'].rolling(window=w, min_periods=1).sum()
            .shift(1, fill_value=0)
        ).astype(int)

    tmp['execid'] = eid
    roll_list.append(tmp.reset_index()[['execid', 'year',
        'no_broken_promises_roll2', 'no_broken_promises_roll3', 'no_broken_promises_roll5',
        'no_promises_prior_roll2', 'no_promises_prior_roll3', 'no_promises_prior_roll5']])

roll_df = pd.concat(roll_list, ignore_index=True)

# merge rolling features back to the compact per-year table
result = (by_year.merge(roll_df, on=['execid', 'year'], how='left')
                 [['execid', 'year',
                   'no_broken_promises', 'no_promises_prior', 'promises_in_year',
                   'no_broken_promises_roll2', 'no_broken_promises_roll3', 'no_broken_promises_roll5',
                   'no_promises_prior_roll2', 'no_promises_prior_roll3', 'no_promises_prior_roll5']])

# result is your final table

# Excecucomp

In [158]:
# CEO data

previously_downloaded_execucomp = True
if previously_downloaded_execucomp == False:
        
        wrds_username = os.getenv('WRDS_USERNAME')
        wrds_password = os.getenv('WRDS_PASSWORD')
        db_wrds = wrds.Connection(wrds_username=wrds_username, wrds_password=wrds_password)
    
        # replace with wrdssec.forms
        query = f"""
            SELECT *
            FROM  comp_execucomp.anncomp
            WHERE ceoann='CEO'
        """
        
        execucomp = db_wrds.raw_sql(query)
        execucomp['gvkey'] = execucomp['gvkey'].astype(int)

        execucomp.to_csv('../data/execucomp.csv')
        db_wrds.close()

else:
    execucomp = pd.read_csv('../data/execucomp.csv')

/var/folders/qr/1pq07r555gxgt22gqksl2tlw0000gn/T/ipykernel_80245/3183187320.py:24: DtypeWarning: Columns (78,81,83) have mixed types. Specify dtype option on import or set low_memory=False.
  execucomp = pd.read_csv('../data/execucomp.csv')

In [159]:
# whether the title collumn contains chmn or chairman
execucomp['ceo_dual'] = execucomp['title'].str.contains('chmn|chairman', case=False)

In [160]:
execucomp['ceo_director'] = execucomp['execdir']

In [161]:
execucomp['ceo_options_compensation'] = execucomp['opt_unex_exer_est_val']/execucomp['salary']
execucomp['ceo_options_compensation_log'] = np.log(execucomp['ceo_options_compensation'])

/Users/majid/Dropbox/Promises/transcripts_wrds/venv/lib/python3.11/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [162]:
execucomp['ceo_option_awards'] = execucomp['option_awards_blk_value']/execucomp['salary']
execucomp['ceo_option_awards_log'] = np.log(execucomp['ceo_option_awards'])

/Users/majid/Dropbox/Promises/transcripts_wrds/venv/lib/python3.11/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [163]:
execucomp['ceo_gender'] = execucomp['gender']

In [164]:
# gender dummy
execucomp['ceo_gender_dummy'] = execucomp['ceo_gender'].apply(lambda x: 1 if x=='MALE' else 0)

In [165]:
execucomp['ceo_age'] = execucomp['age']

In [166]:
# First, make sure your DataFrame is sorted
execucomp = execucomp.sort_values(by=['gvkey', 'execid', 'year'])

# Create a group identifier for consecutive years
execucomp['year_group'] = execucomp.groupby(['gvkey', 'execid'])['year'].diff().ne(1).cumsum()

# Create the ceo_tenure variable
execucomp['ceo_tenure'] = execucomp.groupby(['gvkey', 'execid', 'year_group']).cumcount() + 1

# Drop the temporary 'year_group' column
execucomp.drop(columns=['year_group'], inplace=True)

In [167]:
execucomp['ceo_total_compensation'] = execucomp['salary'] + execucomp['bonus'] + execucomp['othcomp']
execucomp['ceo_total_compensation_log'] = np.log(execucomp['ceo_total_compensation'])

execucomp['ceo_total_deferred_compensation'] = execucomp['defer_balance_tot'] + execucomp['defer_contrib_co_tot'] + execucomp['defer_contrib_exec_tot']
execucomp['ceo_total_deferred_compensation_log'] = np.log(execucomp['ceo_total_deferred_compensation'])

execucomp['ceo_total_shares_owned'] = execucomp['shrown_excl_opts'] + execucomp['shrown_tot']
execucomp['ceo_total_shares_owned_log'] = np.log(execucomp['ceo_total_shares_owned'])

/Users/majid/Dropbox/Promises/transcripts_wrds/venv/lib/python3.11/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/majid/Dropbox/Promises/transcripts_wrds/venv/lib/python3.11/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/majid/Dropbox/Promises/transcripts_wrds/venv/lib/python3.11/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/majid/Dropbox/Promises/transcripts_wrds/venv/lib/python3.11/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)
/Users/majid/Dropbox/Promises/transcripts_wrds/venv/lib/python3.11/site-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

# Compustat Quarterly

In [168]:
previously_downloaded_compustat_quarterly = True
if previously_downloaded_compustat_quarterly == False:
    db = wrds.Connection(wrds_username=wrds_username, wrds_password=wrds_password)
    # download finratiofirm table
    query = """
    SELECT gvkey, datadate, indfmt, consol, popsrc, datafmt, fyr, actq, atq, ibq, niq, niy, epsfi12, oeps12, epsfxy, mkvaltq, prccq, prchq, prclq, saleq, cshoq, actq, lctq, xoprq, xrdq, intanq, txdbq, atq, dpq, aqpq, dlttq, dlcq, seqq
    FROM comp_na_daily_all.fundq
    WHERE fyearq >= 2003
    """
    compustat = db.raw_sql(query)
    compustat.to_pickle('../data/compustat_q.pkl')

else:
    # Load the ratio data from the pickle file
    compustat = pd.read_pickle('../data/compustat_q.pkl')

In [169]:

compustat=compustat[compustat.datafmt=='STD']
compustat=compustat[compustat.popsrc=='D']
compustat=compustat[compustat.consol=='C']
compustat=compustat[compustat.indfmt== 'INDL']

compustat['datadate'] = pd.to_datetime(compustat['datadate'], format='%Y%m%d')
compustat['month']=compustat['datadate'].dt.month
compustat['year']=compustat['datadate'].dt.year
compustat.drop_duplicates(['gvkey','datadate'], inplace=True)
compustat['gvkey'] = compustat['gvkey'].astype(int)
compustat

,gvkey,datadate,indfmt,consol,popsrc,datafmt,fyr,actq,atq,ibq,...,xrdq,intanq,txdbq,dpq,aqpq,dlttq,dlcq,seqq,month,year
0,1004,2003-08-31,INDL,C,D,STD,5,387.141,676.345,-1.996,...,NaN,45.935,NaN,NaN,NaN,174.735,78.390,290.455,8,2003
1,1004,2003-11-30,INDL,C,D,STD,5,383.765,666.178,1.654,...,NaN,45.975,NaN,NaN,NaN,167.499,52.984,294.821,11,2003
2,1004,2004-02-29,INDL,C,D,STD,5,437.750,721.229,2.245,...,NaN,46.007,NaN,NaN,NaN,261.004,7.586,296.434,2,2004
3,1004,2004-05-31,INDL,C,D,STD,5,432.204,709.292,2.662,...,NaN,47.770,NaN,NaN,NaN,248.666,3.392,301.684,5,2004
4,1010,2003-03-31,INDL,C,D,STD,12,NaN,4705.100,29.800,...,NaN,129.100,NaN,47.000,NaN,2110.900,NaN,1174.000,3,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12858,329141,2024-09-30,INDL,C,D,STD,6,2.879,4.794,-4.728,...,0.921,0.869,0.000,0.060,NaN,4.100,4.153,-11.319,9,2024
12859,348784,2024-09-30,INDL,C,D,STD,6,89.961,381.220,-5.895,...,NaN,0.000,0.000,0.289,NaN,10.282,18.581,275.602,9,2024
12860,348784,2024-12-31,INDL,C,D,STD,6,67.314,362.920,-14.167,...,NaN,0.000,0.000,0.272,NaN,7.192,15.485,243.879,12,2024
12861,356289,2024-09-30,INDL,C,D,STD,6,32.794,180.997,0.842,...,NaN,73.238,15.301,0.024,NaN,58.166,7.470,45.827,9,2024
12862,356289,2024-12-31,INDL,C,D,STD,6,33.633,185.345,-0.912,...,NaN,72.632,14.925,0.018,NaN,65.308,11.459,46.453,12,2024

In [170]:
# EPA
compustat['EPS'] = np.where(compustat['cshoq'] != 0, compustat['niq'] / compustat['cshoq'], np.nan)

# roa
compustat['roa'] = np.where(compustat['atq'] != 0, compustat['niq'] / compustat['atq'], np.nan)

# roe
compustat['roe'] = np.where((compustat['prccq']* compustat['cshoq']) != 0, compustat['niq'] / (compustat['prccq']* compustat['cshoq']), np.nan)


# r&d share of total expense
compustat['rd_f'] = compustat['xrdq'] / compustat['xoprq'].where(compustat['xoprq'] != 0, np.nan)
compustat['rd_f'] = compustat['rd_f'].fillna(0)

# recognized intangible assets as part of total assets
compustat['intang_f'] = compustat['intanq'] / compustat['atq'].where(compustat['atq'] != 0, np.nan)
compustat['intang_f'] = compustat['intang_f'].fillna(0)

# depreciation as part of total assets
compustat['dpt_f'] = compustat['dpq'] / compustat['atq'].where(compustat['atq'] != 0, np.nan)
compustat['dpt_f'] = compustat['dpt_f'].fillna(0)

#Total merger
compustat['mergers'] = compustat['aqpq'].fillna(0)

# Leverage
compustat['leverage'] = (compustat['dlttq'] + compustat['dlcq']) / compustat['seqq']
compustat.loc[compustat['seqq'] == 0, 'leverage'] = np.nan



# 2.1: Cash flow (CF) = ibq + dpq
compustat['cf'] = compustat['ibq'] + compustat['dpq']


# 2.2: Market Value of Equity (MVE) = cshoq * prccq
compustat['mve'] = compustat['cshoq'] * compustat['prccq']

# 2.3: Book Debt 
#      A common approximation is atq - seqq - txdbq.
compustat['book_debt'] = compustat['atq'] - compustat['seqq']
compustat['book_debt'] = compustat['book_debt'] - compustat['txdbq'].fillna(0)

# 2.4: Tobin's Q = (MVE + Book Debt) / atq
compustat['tobin_q'] = (compustat['mve'] + compustat['book_debt']) / compustat['atq']
# earnings_volatility
compustat.sort_values(['gvkey', 'datadate'], inplace=True)
compustat['earnings_volatility'] = compustat.groupby(['gvkey'])['roa'].transform(lambda x: x.rolling(6).std())
from scipy.stats.mstats import winsorize

# Winsorize the variables at the 1% level
compustat['EPS'] = winsorize(compustat['EPS'], limits=[0.025, 0.025])
compustat['roa'] = winsorize(compustat['roa'], limits=[0.025, 0.025])
compustat['roe'] = winsorize(compustat['roe'], limits=[0.025, 0.025])
compustat['rd_f'] = winsorize(compustat['rd_f'], limits=[0.025, 0.025])
compustat['intang_f'] = winsorize(compustat['intang_f'], limits=[0.025, 0.025])
compustat['dpt_f'] = winsorize(compustat['dpt_f'], limits=[0.025, 0.025])
compustat['mergers'] = winsorize(compustat['mergers'], limits=[0.025, 0.025])
compustat['leverage'] = winsorize(compustat['leverage'], limits=[0.025, 0.025])
compustat['earnings_volatility'] = winsorize(compustat['earnings_volatility'], limits=[0.025, 0.025])
compustat['tobin_q'] = winsorize(compustat['tobin_q'], limits=[0.025, 0.025])


# Replace NaN values with 0
compustat = compustat.fillna(0)
compustat['roe'].describe(percentiles=[.01, .05, .1, .25, .5, .75, .9, .95, .99])

count    1.009875e+06
mean     6.765630e-01
std      2.851728e+02
min     -4.062416e-01
1%      -4.062416e-01
5%      -1.796553e-01
10%     -7.247141e-02
25%     -6.740168e-03
50%      0.000000e+00
75%      1.101937e-02
90%      2.495183e-02
95%      4.041958e-02
99%      1.747980e-01
max      2.133035e+05
Name: roe, dtype: float64

# Compustat Annual

In [171]:
previously_downloaded_compustat_annual = True

if previously_downloaded_compustat_annual == False:
    db = wrds.Connection(wrds_username=wrds_username, wrds_password=wrds_password)
    # download finratiofirm table
    query = """
    SELECT gvkey, datadate, datafmt, popsrc, consol, indfmt, cusip, cik,  sich,  naicsh, sale, ppent, emp, xrd, xad
    FROM comp_na_daily_all.funda
    WHERE fyear >= 2000
    """
    compustata = db.raw_sql(query)
    compustata.to_pickle('../data/compustat_a.pkl')

else:
    # Load the ratio data from the pickle file
    compustata = pd.read_pickle('../data/compustat_a.pkl')
    
compustata=compustata[compustata.datafmt=='STD']
compustata=compustata[compustata.popsrc=='D']
compustata=compustata[compustata.consol=='C']
compustata=compustata[compustata.indfmt== 'INDL']

compustata.drop_duplicates(['gvkey','datadate'], inplace=True)

compustata['datadate'] = pd.to_datetime(compustata['datadate'], format='%Y%m%d')

compustata['month']=compustata['datadate'].dt.month
compustata['year']=compustata['datadate'].dt.year

compustata['sich'] = compustata['sich'].replace('', np.nan)
compustata = compustata.loc[compustata['sich'].notna()]
compustata.loc[:, 'sich4'] = compustata['sich'].astype(int).astype(str).str.pad(width=4, side='right', fillchar='0').astype(int)
compustata.loc[:, 'sich3'] = compustata['sich4'] // 10
compustata.loc[:, 'sich2'] = compustata['sich4'] // 100

# Uniqueness Var

In [172]:
previously_downloaded_segments = True
if previously_downloaded_segments == False:

    wrds_username = os.getenv('WRDS_USERNAME')
    wrds_password = os.getenv('WRDS_PASSWORD')
    db = wrds.Connection(wrds_username=wrds_username, wrds_password=wrds_password)

    # replace with wrdssec.forms
    query = f"""
        SELECT gvkey, srcdate, datadate, sid, sales, stype, sics1
        FROM comp_segments_hist_daily.wrds_segmerged
    """
    
    segments = db.raw_sql(query)
    segments.to_csv('../data/compustat_segments.csv')
    db.close()
    
else:
    segments = pd.read_csv('../data/compustat_segments.csv')
segments.stype.value_counts()
segments.drop_duplicates(['gvkey', 'datadate','srcdate'])
segments.drop_duplicates(['gvkey', 'datadate', 'sid'])
segments = segments[['gvkey', 'datadate', 'sid', 'sales', 'stype']]
segments['gvkey'] = segments['gvkey'].astype(int)
segments_n = segments[(segments['stype']=='BUSSEG') | (segments['stype']=='OPSEG')].groupby(['gvkey', 'datadate'])['sid'].nunique().reset_index()
segments_n = segments_n.rename(columns={'sid': 'n_segments'})

segments_n['year'] = segments_n['datadate'].astype(str).str.slice(0,4).astype(int)
segments_n = segments_n[['gvkey', 'year', 'n_segments']]

compustata['gvkey'] = compustata['gvkey'].astype(int)
compustata = compustata.merge(segments_n, on=['gvkey', 'year'], how='left',
                                  suffixes=('_df1', ''))
compustata['n_segments'].fillna(1,inplace=True)
## Strategy Uniqueness using Litov et al. (2012) method
seg_ind = 'sics1'

segments = pd.read_csv('../data/compustat_segments.csv')
segments['year'] = segments['datadate'].str.slice(0,4).astype(int)
segments = segments[(segments['stype'] == 'BUSSEG') | (segments['stype'] == 'OPSEG')]
segments = segments[['gvkey', 'year', 'sales', seg_ind ]]
segments = segments[segments['sales'] > 0]
segments = segments[segments[seg_ind].notnull()]
segments = segments[segments[seg_ind] != '']
segments = segments[segments[seg_ind] != 0]
segments[seg_ind] = segments[seg_ind].astype(int)
segments['year'] = segments['year'].astype(int)
segments['gvkey'] = segments['gvkey'].astype(int)
segments = segments.rename(columns={'gvkey': 'GVKEY'})
segments = segments.rename(columns={seg_ind: 'segment_sic'})
segments = segments.rename(columns={'sales': 'segment_sale'})
segments = segments.groupby(['GVKEY', 'year', 'segment_sic'])['segment_sale'].sum().reset_index(name='segment_sale')
segments['segment_sic'] = segments['segment_sic'].astype(int)

# Step 1
idx = segments.groupby(['GVKEY', 'year'])['segment_sale'].idxmax()
segments['primary_sic'] = segments.loc[idx, 'segment_sic']
segments['primary_sic'] = segments.groupby(['GVKEY', 'year'])['primary_sic'].transform('max')

# Step 2
total_sales = segments.groupby(['GVKEY', 'year'])['segment_sale'].transform('sum')
segments['norm_sale'] = segments['segment_sale'] / total_sales

# Step 3
firm_year_matrix = segments.pivot_table(index=['GVKEY', 'year', 'primary_sic'],
                                        columns='segment_sic',
                                        values='norm_sale').fillna(0)

# Step 4
actual_sales_matrix = segments.pivot_table(index=['GVKEY', 'year', 'primary_sic'],
                                           columns='segment_sic',
                                           values='segment_sale').fillna(0)

industry_year_sales = actual_sales_matrix.groupby(['primary_sic', 'year']).sum()

# Step 5
total_industry_sales = industry_year_sales.sum(axis=1)
norm_industry_year_sales = industry_year_sales.div(total_industry_sales, axis=0)

# Step 6
diff_matrix = firm_year_matrix.subtract(norm_industry_year_sales, axis=1)

# step 7: sum of squared differences
squared_diff_matrix = diff_matrix ** 2
sum_squared_diff = squared_diff_matrix.sum(axis=1)

uniqueness = sum_squared_diff.reset_index(name='strategy_unique')
uniqueness = uniqueness.rename(columns={'GVKEY': 'gvkey'})
uniqueness.drop_duplicates(['gvkey', 'year'], inplace=True)

/var/folders/qr/1pq07r555gxgt22gqksl2tlw0000gn/T/ipykernel_80245/454570736.py:34: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  compustata['n_segments'].fillna(1,inplace=True)

# BoardEx

In [173]:
boardex = pd.read_stata("../data/NA - BoardEx - Organization Summary - Analytics.dta")

In [174]:
boardex.columns

Index(['RowType', 'BoardName', 'NED', 'DirectorName', 'RoleName', 'BoardID',
       'DirectorID', 'TimeRetirement', 'TimeRole', 'TimeBrd', 'TimeInCo',
       'AvgTimeOthCo', 'TotNoLstdBrd', 'TotNoUnLstdBrd', 'TotNoOthLstdBrd',
       'TotCurrNoLstdBrd', 'TotCurrNoUnLstdBrd', 'TotCurrNoOthLstdBrd',
       'NoQuals', 'AnnualReportDate', 'Currency', 'RemChgeLast', 'Salary',
       'Bonus', 'Other', 'PenEmpCon', 'TotalCompensation', 'ValTotEqHeld',
       'ValLTIPHeld', 'IntValOptHeld', 'EstValOptHeld', 'TotEqLinkedWlth',
       'ValEqAward', 'LTIPValue', 'IntrValOptAward', 'EstValOptAward',
       'TotEqAtRisk', 'TotRemPeriod', 'BonusRatio', 'EqLinkRemRatio',
       'WealthDelta', 'TotalDirectComp', 'PerfTotal', 'Ticker', 'ISIN',
       'HOCountryName', 'Sector', 'Index', 'Succession', 'Attrition',
       'GenderRatio', 'NationalityMix', 'NumberDirectors', 'STDEVTimeBrd',
       'STDEVTimeInCo', 'STDEVTotNoLstdBrd', 'STDEVTotCurrNoLstdBrd',
       'STDEVNoQuals', 'STDEVAge', 'NetworkSize', 'CompanyID'],
      dtype='object')

In [175]:
boardex = boardex[['CompanyID', 'AnnualReportDate', 'Succession', 'Attrition',
       'GenderRatio', 'NationalityMix', 'NumberDirectors', 'STDEVTimeBrd',
       'STDEVTimeInCo', 'STDEVTotNoLstdBrd', 'STDEVTotCurrNoLstdBrd',
       'STDEVNoQuals', 'STDEVAge', 'NetworkSize',]]

# drop duplciates for companyid and annualreportdate
boardex = boardex.drop_duplicates(['CompanyID', 'AnnualReportDate'])

In [176]:
boardex_map = pd.read_stata("../data/NA - BoardEx_linking_map.dta")

# keep only if preferred ==1
boardex_map = boardex_map[boardex_map['preferred'] == 1]

# keep only compnayid and gvkey
boardex_map = boardex_map[['companyid', 'GVKEY']]

# drop duplicates
boardex_map = boardex_map.drop_duplicates(['companyid', 'GVKEY'])

# rename companyid to CompanyID and GVKEY to gvkey
boardex_map = boardex_map.rename(columns={'companyid': 'CompanyID', 'GVKEY': 'gvkey'})

In [177]:
# merge boardex with boardex_map on CompanyID
boardex = boardex.merge(boardex_map, left_on='CompanyID', right_on='CompanyID', how='left')

In [178]:
# keep if gvkey is not null
boardex = boardex[boardex['gvkey'].notna()]

In [179]:
# convert AnnualReportDate to datetime
boardex['AnnualReportDate'] = pd.to_datetime(boardex['AnnualReportDate'])

boardex['year_b'] = boardex['AnnualReportDate'].dt.year

In [181]:
# drop duplicates gvkey and year
boardex = boardex.drop_duplicates(['gvkey', 'year_b'])

# Merges

## Merge Compustata with uniqueness

In [182]:
# gvkey to int
uniqueness['gvkey'] = uniqueness['gvkey'].astype(int)
compustata['gvkey'] = compustata['gvkey'].astype(int)
compustata = compustata.merge(uniqueness, on=['gvkey', 'year'], how='left')

## Merge compustat with compustata

In [183]:
compustata['gvkey'] = compustata['gvkey'].astype(int)

In [184]:
compustata_merged = compustata.merge(compustat, on=['gvkey', 'datadate'], how='inner', suffixes=('_a', '_q'))

In [185]:
compustata_merged.drop_duplicates(['gvkey','datadate'], inplace=True)

In [186]:
compustata_merged.columns

Index(['gvkey', 'datadate', 'datafmt_a', 'popsrc_a', 'consol_a', 'indfmt_a',
       'cusip', 'cik', 'sich', 'naicsh', 'sale', 'ppent', 'emp', 'xrd', 'xad',
       'month_a', 'year_a', 'sich4', 'sich3', 'sich2', 'n_segments',
       'primary_sic', 'strategy_unique', 'indfmt_q', 'consol_q', 'popsrc_q',
       'datafmt_q', 'fyr', 'actq', 'atq', 'ibq', 'niq', 'niy', 'epsfi12',
       'oeps12', 'epsfxy', 'mkvaltq', 'prccq', 'prchq', 'prclq', 'saleq',
       'cshoq', 'lctq', 'xoprq', 'xrdq', 'intanq', 'txdbq', 'dpq', 'aqpq',
       'dlttq', 'dlcq', 'seqq', 'month_q', 'year_q', 'EPS', 'roa', 'roe',
       'rd_f', 'intang_f', 'dpt_f', 'mergers', 'leverage', 'cf', 'mve',
       'book_debt', 'tobin_q', 'earnings_volatility'],
      dtype='object')

In [187]:
# create fyear column which is year_a if fyr is 6 or larger, otherwise it is year_a-1
compustata_merged['fyear'] = np.where(compustata_merged['fyr'] >= 6, compustata_merged['year_a'], compustata_merged['year_a'] - 1)

## Merge boardex and Compustata

In [189]:
# merge boardex and compustata_merged on gvkey and year (year_b for boardex, year_a for compustata_merged)
boardex['year_b'] = boardex['year_b'].astype(int)
boardex['gvkey'] = boardex['gvkey'].astype(int)
compustata_merged = compustata_merged.merge(boardex, left_on=['gvkey', 'year_a'], right_on=['gvkey', 'year_b'], how='left')

## Merge execucomp with compustata_merged

In [190]:
# merge execucomp with compustata_merged on gvkey and year = fyear
execucomp_merged = execucomp.merge(compustata_merged, left_on=['gvkey', 'year'], right_on=['gvkey', 'fyear'], how='inner', suffixes=('_e', '_c'))

## Merge ceo_dismissal with execucomp_merged

In [191]:
# open /Users/majid/Dropbox/Promises/transcripts_wrds/data/CEO Dismissal Database Posted to Web 9Nov23.xlsx

dismissal_data = pd.read_excel("../data/CEO Dismissal Database Posted to Web 9Nov23.xlsx")

In [192]:
# merge execucomp  [gvkey, year, co_per_rol] with dismissal_data on [gvkey, fyear, co_per_rol]
ceo_dismissal = execucomp_merged.merge(dismissal_data, left_on=['gvkey', 'year', 'co_per_rol'], right_on=['gvkey', 'fyear', 'co_per_rol'], how='left', suffixes=('_e', '_d'))

In [193]:
# var involuntary_dismissal = 1 if departure_code is 3 or 4
ceo_dismissal['involuntary_dismissal'] = ceo_dismissal['departure_code'].isin([3, 4])

In [194]:
ceo_dismissal['involuntary_dismissal'].value_counts()

involuntary_dismissal
False    39429
True      1271
Name: count, dtype: int64

In [195]:
# merge ceo_dismissal on execid, year with result on execid, year
ceo_dismissal = ceo_dismissal.merge(result, on=['execid', 'year'], how='left')

In [196]:
# limit to execid s that show in results
ceo_dismissal_results = ceo_dismissal[ceo_dismissal['execid'].isin(result['execid'])]

In [197]:
result['execid'].nunique()

268

In [198]:
ceo_dismissal_results['execid'].nunique()

268

In [199]:
# replace no_broken_promises with 0 if missing
ceo_dismissal_results['no_broken_promises'] = ceo_dismissal_results['no_broken_promises'].fillna(0)

/var/folders/qr/1pq07r555gxgt22gqksl2tlw0000gn/T/ipykernel_80245/1237000247.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ceo_dismissal_results['no_broken_promises'] = ceo_dismissal_results['no_broken_promises'].fillna(0)

In [200]:
ceo_dismissal_results['no_broken_promises'].describe()

count    2028.000000
mean        1.399901
std         2.393533
min         0.000000
25%         0.000000
50%         0.000000
75%         2.000000
max        16.000000
Name: no_broken_promises, dtype: float64

In [201]:
# describe no_promises_prior    

ceo_dismissal_results['no_promises_prior'] = ceo_dismissal_results['no_promises_prior'].fillna(0)

/var/folders/qr/1pq07r555gxgt22gqksl2tlw0000gn/T/ipykernel_80245/20129425.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ceo_dismissal_results['no_promises_prior'] = ceo_dismissal_results['no_promises_prior'].fillna(0)

In [202]:
ceo_dismissal_results['no_promises_prior'].describe()

count    2028.000000
mean       12.079882
std        15.156266
min         0.000000
25%         0.000000
50%         7.000000
75%        18.000000
max       109.000000
Name: no_promises_prior, dtype: float64

In [203]:
ceo_dismissal_results['involuntary_dismissal'].value_counts()

involuntary_dismissal
False    1992
True       36
Name: count, dtype: int64

In [204]:
# group by gvkey year, keep only duplicates
ceo_dismissal_results[ceo_dismissal_results.duplicated(subset=['gvkey', 'year'], keep=False)]

,Unnamed: 0,exec_fullname_e,cfoann,execdir,old_datafmt_flag,interlock,reprice,execrank,co_per_rol,coname_e,...,involuntary_dismissal,no_broken_promises,no_promises_prior,promises_in_year,no_broken_promises_roll2,no_broken_promises_roll3,no_broken_promises_roll5,no_promises_prior_roll2,no_promises_prior_roll3,no_promises_prior_roll5
8489,14997,Robert J. Coury,NaN,1.0,0.0,0.0,0.0,NaN,25686.0,VIATRIS INC,...,False,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8490,14997,Robert J. Coury,NaN,1.0,0.0,0.0,0.0,NaN,25686.0,VIATRIS INC,...,False,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [205]:
# drop gvkey, year duplicates
ceo_dismissal_results = ceo_dismissal_results.drop_duplicates(subset=['gvkey', 'year'], keep='first')

In [206]:
list(ceo_dismissal_results.columns)

['Unnamed: 0',
 'exec_fullname_e',
 'cfoann',
 'execdir',
 'old_datafmt_flag',
 'interlock',
 'reprice',
 'execrank',
 'co_per_rol',
 'coname_e',
 'titleann',
 'ceoann',
 'salary',
 'bonus',
 'stock_awards',
 'option_awards',
 'noneq_incent',
 'pension_chg',
 'othcomp',
 'total_sec',
 'total_curr',
 'total_alt1',
 'total_alt2',
 'term_pymt',
 'chg_ctrl_pymt',
 'shrown_tot',
 'shrown_tot_pct',
 'shrown_excl_opts',
 'shrown_excl_opts_pct',
 'opt_exer_num',
 'opt_exer_val',
 'shrs_vest_num',
 'shrs_vest_val',
 'age',
 'option_awards_num',
 'option_awards_fv',
 'stock_awards_fv',
 'opt_unex_exer_num',
 'opt_unex_unexer_num',
 'opt_unex_exer_est_val',
 'opt_unex_unexer_est_val',
 'stock_unvest_num',
 'stock_unvest_val',
 'eip_unearn_num',
 'eip_unearn_val',
 'pension_value_tot',
 'pension_pymts_tot',
 'defer_contrib_exec_tot',
 'defer_contrib_co_tot',
 'defer_earnings_tot',
 'defer_withdr_tot',
 'defer_balance_tot',
 'defer_rpt_as_comp_tot',
 'execrankann',
 'othann',
 'tdc1',
 'tdc2',
 'rstkgrnt',
 'option_awards_blk_value',
 'option_awards_rpt_value',
 'ltip',
 'allothtot',
 'allothpd',
 'sal_pct',
 'total_curr_pct',
 'total_sec_pct',
 'total_alt1_pct',
 'total_alt2_pct',
 'tdc1_pct',
 'tdc2_pct',
 'ret_yrs',
 'comment',
 'gvkey',
 'execid',
 'year',
 'rstkvyrs',
 'becameceo',
 'joined_co',
 'rejoin',
 'leftofc',
 'leftco',
 'releft',
 'pceo',
 'pcfo',
 'title',
 'reason',
 'exec_lname',
 'exec_fname',
 'exec_mname',
 'gender',
 'nameprefix',
 'page',
 'cusip_e',
 'exchange',
 'address',
 'city',
 'state',
 'zip',
 'tele',
 'sicdesc',
 'naicsdesc',
 'inddesc',
 'spcode',
 'ticker',
 'sub_tele',
 'naics',
 'spindex',
 'sic',
 'ceo_dual',
 'ceo_director',
 'ceo_options_compensation',
 'ceo_options_compensation_log',
 'ceo_option_awards',
 'ceo_option_awards_log',
 'ceo_gender',
 'ceo_gender_dummy',
 'ceo_age',
 'ceo_tenure',
 'ceo_total_compensation',
 'ceo_total_compensation_log',
 'ceo_total_deferred_compensation',
 'ceo_total_deferred_compensation_log',
 'ceo_total_shares_owned',
 'ceo_total_shares_owned_log',
 'datadate',
 'datafmt_a',
 'popsrc_a',
 'consol_a',
 'indfmt_a',
 'cusip_c',
 'cik',
 'sich',
 'naicsh',
 'sale',
 'ppent',
 'emp',
 'xrd',
 'xad',
 'month_a',
 'year_a',
 'sich4',
 'sich3',
 'sich2',
 'n_segments',
 'primary_sic',
 'strategy_unique',
 'indfmt_q',
 'consol_q',
 'popsrc_q',
 'datafmt_q',
 'fyr',
 'actq',
 'atq',
 'ibq',
 'niq',
 'niy',
 'epsfi12',
 'oeps12',
 'epsfxy',
 'mkvaltq',
 'prccq',
 'prchq',
 'prclq',
 'saleq',
 'cshoq',
 'lctq',
 'xoprq',
 'xrdq',
 'intanq',
 'txdbq',
 'dpq',
 'aqpq',
 'dlttq',
 'dlcq',
 'seqq',
 'month_q',
 'year_q',
 'EPS',
 'roa',
 'roe',
 'rd_f',
 'intang_f',
 'dpt_f',
 'mergers',
 'leverage',
 'cf',
 'mve',
 'book_debt',
 'tobin_q',
 'earnings_volatility',
 'fyear_e',
 'CompanyID',
 'AnnualReportDate',
 'Succession',
 'Attrition',
 'GenderRatio',
 'NationalityMix',
 'NumberDirectors',
 'STDEVTimeBrd',
 'STDEVTimeInCo',
 'STDEVTotNoLstdBrd',
 'STDEVTotCurrNoLstdBrd',
 'STDEVNoQuals',
 'STDEVAge',
 'NetworkSize',
 'year_b',
 'dismissal_dataset_id',
 'coname_d',
 'fyear_d',
 'exec_fullname_d',
 'departure_code',
 'ceo_dismissal',
 'interim_coceo',
 'tenure_no_ceodb',
 'left_ceo_office',
 'date_departure_announced',
 'notes',
 'sources',
 'eight_ks',
 'involuntary_dismissal',
 'no_broken_promises',
 'no_promises_prior',
 'promises_in_year',
 'no_broken_promises_roll2',
 'no_broken_promises_roll3',
 'no_broken_promises_roll5',
 'no_promises_prior_roll2',
 'no_promises_prior_roll3',
 'no_promises_prior_roll5']

In [207]:
# save to stata - handle infinity values and column name issues
ceo_dismissal_results_clean = ceo_dismissal_results.copy()

# Replace infinity values with NaN for all numeric columns
numeric_cols = ceo_dismissal_results_clean.select_dtypes(include=[np.number]).columns
for col in numeric_cols:
    ceo_dismissal_results_clean[col] = ceo_dismissal_results_clean[col].replace([np.inf, -np.inf], np.nan)

# Handle object columns that might cause issues
object_cols = ceo_dismissal_results_clean.select_dtypes(include=['object']).columns
for col in object_cols:
    # Convert problematic object columns to string or drop if all null
    if ceo_dismissal_results_clean[col].isna().all():
        ceo_dismissal_results_clean = ceo_dismissal_results_clean.drop(columns=[col])
        print(f"Dropped column {col} - all null values")
    else:
        # Convert to string and handle None values
        ceo_dismissal_results_clean[col] = ceo_dismissal_results_clean[col].astype(str)
        ceo_dismissal_results_clean[col] = ceo_dismissal_results_clean[col].replace('nan', '')
        ceo_dismissal_results_clean[col] = ceo_dismissal_results_clean[col].replace('None', '')
        # Handle unicode characters that cause encoding issues
        ceo_dismissal_results_clean[col] = ceo_dismissal_results_clean[col].str.encode('ascii', errors='ignore').str.decode('ascii')
        
        # Truncate strings that are too long for Stata (even v117 has a limit of 2045 chars)
        max_length = 2000  # Leave some buffer
        if col in ceo_dismissal_results_clean.columns:
            ceo_dismissal_results_clean[col] = ceo_dismissal_results_clean[col].str[:max_length]

# Fix column names for Stata compatibility (max 32 chars, alphanumeric + underscore only)
column_mapping = {}
for col in ceo_dismissal_results_clean.columns:
    new_col = col
    # Remove spaces and special characters
    new_col = ''.join(c if c.isalnum() or c == '_' else '_' for c in new_col)
    # Truncate to 32 characters
    if len(new_col) > 32:
        new_col = new_col[:32]
    # Ensure it doesn't start with a number
    if new_col[0].isdigit():
        new_col = 'var_' + new_col[:28]
    column_mapping[col] = new_col

ceo_dismissal_results_clean = ceo_dismissal_results_clean.rename(columns=column_mapping)

# Save to stata with version 117 (Stata 13+) to handle longer strings
try:
    ceo_dismissal_results_clean.to_stata('../data/ceo_dismissal_reg_data_batch2.dta', 
                                          write_index=False,
                                          version=117)
    print("Successfully saved to Stata format (version 117)")
except Exception as e:
    print(f"Error saving to Stata: {e}")
    # Alternative: save as CSV
    ceo_dismissal_results_clean.to_csv('../data/ceo_dismissal_reg_data_batch2.csv', index=False)
    print("Saved as CSV instead")

Dropped column rejoin - all null values
Dropped column releft - all null values
Successfully saved to Stata format (version 117)

In [208]:
# how many unique execid
ceo_dismissal_results_clean['gvkey'].nunique()

274

# CEO Ranking

# Merge Batches

In [ ]:
batch2 = pd.read_stata("../data/ceo_dismissal_reg_data_batch2.dta")
batch1 = pd.read_stata("../data/ceo_dismissal_reg_data.dta")

batch1['batch'] = 'batch1'
batch2['batch'] = 'batch2'

# concat batch2 and batch1
batch_all = pd.concat([batch2, batch1])

/var/folders/qr/1pq07r555gxgt22gqksl2tlw0000gn/T/ipykernel_7562/3536831486.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  batch1['batch'] = 'batch1'
/var/folders/qr/1pq07r555gxgt22gqksl2tlw0000gn/T/ipykernel_7562/3536831486.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  batch2['batch'] = 'batch2'

In [9]:
batch_all.to_stata("../data/ceo_dismissal_reg_data_with_ranking_batches_all.dta", write_index=False, version=117)

# Some Random Tests

In [3]:
batch_all = pd.read_stata("../data/ceo_dismissal_reg_data_with_ranking_batches_all.dta")

In [ ]:
# keep if the no_promises_prior_roll5 is above 50
batch_all_50 = batch_all[batch_all['no_promises_prior_roll5'] > 50]
# create column year in promises_select_10percent_results_merged based on mostimportantdateutc

high_promises = promises_select_10percent_results_merged[promises_select_10percent_results_merged['gvkey'] == 25434]

# Merge with previous reg db

In [18]:
print(list(batch_all.columns    ))

['rank_ceo', 'rank_cfo', 'rank_ceo_raw', 'rank_cfo_raw', 'gvkey', 'year', 'ceo_name', 'companyname', 'sectorname', 'Unnamed__0', 'exec_fullname_e', 'cfoann', 'execdir', 'old_datafmt_flag', 'interlock', 'reprice', 'execrank', 'co_per_rol', 'coname_e', 'titleann', 'ceoann', 'salary', 'bonus', 'stock_awards', 'option_awards', 'noneq_incent', 'pension_chg', 'othcomp', 'total_sec', 'total_curr', 'total_alt1', 'total_alt2', 'term_pymt', 'chg_ctrl_pymt', 'shrown_tot', 'shrown_tot_pct', 'shrown_excl_opts', 'shrown_excl_opts_pct', 'opt_exer_num', 'opt_exer_val', 'shrs_vest_num', 'shrs_vest_val', 'age', 'option_awards_num', 'option_awards_fv', 'stock_awards_fv', 'opt_unex_exer_num', 'opt_unex_unexer_num', 'opt_unex_exer_est_val', 'opt_unex_unexer_est_val', 'stock_unvest_num', 'stock_unvest_val', 'eip_unearn_num', 'eip_unearn_val', 'pension_value_tot', 'pension_pymts_tot', 'defer_contrib_exec_tot', 'defer_contrib_co_tot', 'defer_earnings_tot', 'defer_withdr_tot', 'defer_balance_tot', 'defer_rpt_as_comp_tot', 'execrankann', 'othann', 'tdc1', 'tdc2', 'rstkgrnt', 'option_awards_blk_value', 'option_awards_rpt_value', 'ltip', 'allothtot', 'allothpd', 'sal_pct', 'total_curr_pct', 'total_sec_pct', 'total_alt1_pct', 'total_alt2_pct', 'tdc1_pct', 'tdc2_pct', 'ret_yrs', 'comment', 'execid', 'rstkvyrs', 'becameceo', 'joined_co', 'leftofc', 'leftco', 'pceo', 'pcfo', 'title', 'reason', 'exec_lname', 'exec_fname', 'exec_mname', 'gender', 'nameprefix', 'page', 'cusip_e', 'exchange', 'address', 'city', 'state', 'zip', 'tele', 'sicdesc', 'naicsdesc', 'inddesc', 'spcode', 'ticker', 'sub_tele', 'naics', 'spindex', 'sic', 'ceo_dual', 'ceo_director', 'ceo_options_compensation', 'ceo_options_compensation_log', 'ceo_option_awards', 'ceo_option_awards_log', 'ceo_gender', 'ceo_gender_dummy', 'ceo_age', 'ceo_tenure', 'ceo_total_compensation', 'ceo_total_compensation_log', 'ceo_total_deferred_compensation', 'ceo_total_deferred_compensation_', 'ceo_total_shares_owned', 'ceo_total_shares_owned_log', 'datadate', 'datafmt_a', 'popsrc_a', 'consol_a', 'indfmt_a', 'cusip_c', 'cik', 'sich', 'naicsh', 'sale', 'ppent', 'emp', 'xrd', 'xad', 'month_a', 'year_a', 'sich4', 'sich3', 'sich2', 'n_segments', 'primary_sic', 'strategy_unique', 'indfmt_q', 'consol_q', 'popsrc_q', 'datafmt_q', 'fyr', 'actq', 'atq', 'ibq', 'niq', 'niy', 'epsfi12', 'oeps12', 'epsfxy', 'mkvaltq', 'prccq', 'prchq', 'prclq', 'saleq', 'cshoq', 'lctq', 'xoprq', 'xrdq', 'intanq', 'txdbq', 'dpq', 'aqpq', 'dlttq', 'dlcq', 'seqq', 'month_q', 'year_q', 'EPS', 'roa', 'roe', 'rd_f', 'intang_f', 'dpt_f', 'mergers', 'leverage', 'cf', 'mve', 'book_debt', 'tobin_q', 'earnings_volatility', 'fyear_e', 'CompanyID', 'AnnualReportDate', 'Succession', 'Attrition', 'GenderRatio', 'NationalityMix', 'NumberDirectors', 'STDEVTimeBrd', 'STDEVTimeInCo', 'STDEVTotNoLstdBrd', 'STDEVTotCurrNoLstdBrd', 'STDEVNoQuals', 'STDEVAge', 'NetworkSize', 'year_b', 'dismissal_dataset_id', 'coname_d', 'fyear_d', 'exec_fullname_d', 'departure_code', 'ceo_dismissal', 'interim_coceo', 'tenure_no_ceodb', 'left_ceo_office', 'date_departure_announced', 'notes', 'sources', 'eight_ks', 'involuntary_dismissal', 'no_broken_promises', 'no_promises_prior', 'promises_in_year', 'no_broken_promises_roll2', 'no_broken_promises_roll3', 'no_broken_promises_roll5', 'no_promises_prior_roll2', 'no_promises_prior_roll3', 'no_promises_prior_roll5', 'batch']

In [22]:
batch_all_select = batch_all[['gvkey', 'datadate','involuntary_dismissal', 'no_broken_promises', 'no_promises_prior', 'promises_in_year', 'no_broken_promises_roll2', 'no_broken_promises_roll3', 'no_broken_promises_roll5', 'no_promises_prior_roll2', 'no_promises_prior_roll3', 'no_promises_prior_roll5', 'batch']]

In [4]:
db = pd.read_csv('../data/sxp1500_presentations_ceo_aggregated_regression_vars_v13_cleaned.csv')

In [9]:
# db to datetime
db['datadate'] = pd.to_datetime(db['datadate'])
db['datadate_annual'] = pd.to_datetime(db['datadate_annual'])

In [23]:
# merge on gvkey and datadate
db_merged = db.merge(batch_all_select, on=['gvkey', 'datadate'], how='inner')

In [24]:
db_merged.to_excel('../data/ceo_dismissal_reg_data_with_ranking_batches_all_merged_basemodels.xlsx')

#